.editColumnItem__dates {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.editColumnItem__date input {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0.25rem 0.5rem;
}

.editColumnItemDate__button {
    color: var(--gray-900) !important;
    border-color: var(--gray-900) !important;
}

.editColumnItemDate__button:hover {
    background: none !important;
}

.editColumnItemDate__button svg {
    fill: var(--gray-900) !important;
}

.editColumnItemDate__label {
    margin-bottom: 0.5rem;
}
