.checklist__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.checklist__header svg {
    fill: black !important;
}

.checklistHeader__title {
    text-transform: uppercase;
}

.checklist__items {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.checklist__newItem {
    margin-top: 0.5rem;
}

.checklist__newItem * {
    color: black !important;
}

.checklist__newItem svg {
    fill: black !important;
}