$btnCloseColor: #3F51B5;
$background: #F0F1F6;
// $listBackground: rgba(0,0,0,0) //#b6b9c9
$listBackground: #3867d6; //#b6b9c9
$textLight: #f6f6f8;
$textDark: #262627;
$mainBlue: #3A5FEB;
$mainBlueHover: #274edf;
$lightBlue: #4a6ef0;
$btnBlue: #3F51B5;
$btnBlueHover: #303f9f;
$newTodoInput: #686868;
// $done: #292929
$done: #a5b1c2;
$lowPriority: #20bf6b;
$mediumPriority: #fa8231;
$highPriority: #eb3b5a;


$draftMain: #0285B3;
$sidebarBackground: #1E1E1E;
$color-dark-background: #1E1E1E;