.editColumnItemSection {
    width: 100%;
    display: grid;
    grid-template-columns: 0px 1fr;
}

.editColumnItemSection__icon svg {
    fill: #000000BB !important;
}

.editColumnItemSection__content > label {
    font-size: 0.875rem;
}

.editColumnItemSectionContent__label {
}