.editColumnItemModal__content
    display: flex
    justify-content: space-between
    gap: 1rem
    background: #F4F5F7
    outline: none
    border-radius: 10px
    width: 750px

.editColumnItemModal
    line-height: 1.5

