.editColumnItemModal__content
    display: flex
    gap: 1rem
    background: #F4F5F7

.editColumnItemModal
    outline: none
    line-height: 1.5
    position: absolute
    top: 50%
    right: 50%
    transform: translate(50%, -50%)

.editColumnItemModal__content-main
    flex-grow: 1
    display: flex
    flex-direction: column
    max-height: min(550px, 70vh)
