@import './styles/colors.scss';

.app {
    height: 100vh;
}

.app::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: -1;
}

.btn {
    border: 0;
    height: 40px;
    border-radius: 5px;
    padding: 6px 16px;
    color: $textLight;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.1));
    outline: 0;
    background-color: $btnBlue;
}

.btn:hover {
    background-color: $btnBlueHover;
}

svg {
    fill: white !important;
}

path {
    opacity: 1 !important;
}